.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Scores{
display: flex;
margin: 0 50%;
}

.Scores.score1{
  display: flex;
  margin: 0 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.score2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.team1Buttons{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.team2Buttons{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}