@import url('https://fonts.googleapis.com/css?family=Archivo|Audiowide&display=swap');
 
 .container{
  display: flex;
  background-color: #2C9DEB;
  flex-direction: column;
  font-family: 'Archivo', ;
  font-size: 100px;
  /* align-items: center; */
} 

.timeDisplay{
  display: flex;
  justify-items: center;
  justify-content: space-around;
  color: white
}

.Scores{
display: flex;
justify-items: center;
justify-content: space-around;
padding: 50px;
font-family: 'Archivo', ;
font-family: 'Audiowide', ;
font-weight: bold;
color: white;
}

.Buttons{
  display: flex;
justify-items: center;
justify-content: space-around;
padding: 50px;
font-family: 'Archivo', ;
font-family: 'Audiowide', ;
color: white;
}